article
  h4 Teret par Expertises
  ul.square
    li Mauris iaculis
    li portritor posuere
    li Peasent
    li Metus massa
  
  hr

article.tint-box
  .lead WEBZINE
  strong EDCOF357

  p.muted ENTEDI <br>  Lorem ipsum dolor sit amet, consectetur adipisicing elit.

  p.muted Questions <br>  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    
article.tint-box
  .lead WEBZINE
  strong Actions Communes

  p: img(src="http://www.fillmurray.com/g/500/800")

article.tint-box
  strong  Lorem ipsum dolor sit amet.