article.tint-box.full-bleed
  h4.black-box Interviews
  .flex-video: <iframe src="https://www.youtube.com/embed/qx73vTi5aFo" frameborder="0" allowfullscreen></iframe>
  div
    strong Sutesdf
    span.muted  | date 30/10/16
  h3  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  p.muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quas odit consectetur, ea est cum quaerat. Laudantium mollitia ipsum cum provident, doloremque repudiandae accusantium earum explicabo, magni ipsa, quae est.
  .row
    .column.small-4
      span.fi-folder  John A. 
    .column.small-8
      ul.inline-list
        li: span.fi-pricetag-multiple
        li: a(href="") in
        li: a(href="") culpa
        li: a(href="") qui
        li: a(href="") officia

article
  h4.black-box Agenda

  .row.collapse
    .column.small-4
      img(src="https://fillmurray.com/g/200/200", style="padding-right: 10px")
    
    .column.small-8
      strong Legit Murray
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi  vero?
  
  .row.collapse
    .column.small-4
      img(src="https://fillmurray.com/g/201/200", style="padding-right: 10px")
    
    .column.small-8
      strong Legit Murray
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi  vero?
  
  .row.collapse
    .column.small-4
      img(src="https://fillmurray.com/g/202/200", style="padding-right: 10px")
    
    .column.small-8
      strong Legit Murray
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi  vero?
  
  .row.collapse
    .column.small-4
      img(src="https://fillmurray.com/g/203/200", style="padding-right: 10px")
    
    .column.small-8
      strong Legit Murray
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi  vero?
  
article
  h3 Fil d'info

  div: a(href="")  laborum
  strong Estausn ornamy skar
  p.muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime debitis, illo.
  
  div: a(href="")  laborum
  strong Estausn ornamy skar
  p.muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime debitis, illo.


