article
  h4.black-box A la luna
  div
    strong Sutesdf
    span.muted  | date 30/10/16
  h3  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  p.muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quas odit consectetur, ea est cum quaerat. Laudantium mollitia ipsum cum provident, doloremque repudiandae accusantium earum explicabo, magni ipsa, quae est.
  .row
    .column.small-4
      span.fi-folder  John A. 
    .column.small-8
      ul.inline-list
        li: span.fi-pricetag-multiple
        li: a(href="") in
        li: a(href="") culpa
        li: a(href="") qui
        li: a(href="") officia
    .column.small-12: hr

article
  .black-box Webzone
    strong  EDODES33
  a(href="")  Sutesfg
  span.muted  | date 30/10/16
  h3  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisicing elit.
  p.muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quas odit consectetur, ea est cum quaerat. Laudantium mollitia ipsum cum provident, doloremque repudiandae accusantium earum explicabo, magni ipsa, quae est.
  .row
    .column.small-4
      span.fi-folder  John A. 
    .column.small-8
      ul.inline-list
        li: span.fi-pricetag-multiple
        li: a(href="") in
        li: a(href="") culpa
        li: a(href="") qui
        li: a(href="") officia
    .column.small-12: hr

article
  strong Sutesfg
  span.muted  | date 30/10/16
  h3  Lorem ipsum dolor sit amet.
  img(src="http://fillmurray.com/g/600/250")
  p.muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quas odit consectetur, ea est cum quaerat. Laudantium mollitia ipsum cum provident, doloremque repudiandae accusantium earum explicabo, magni ipsa, quae est.
  .row
    .column.small-4
      span.fi-folder  John A. 
    .column.small-8
      ul.inline-list
        li: span.fi-pricetag-multiple
        li: a(href="") in
        li: a(href="") culpa
        li: a(href="") qui
        li: a(href="") officia
    .column.small-12: hr

article
  strong Sutesfg
  span.muted  | date 30/10/16
  h3  Lorem ipsum dolor sit amet.
  p.muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quas odit consectetur, ea est cum quaerat. Laudantium mollitia ipsum cum provident, doloremque repudiandae accusantium earum explicabo, magni ipsa, quae est.
  .row
    .column.small-4
      span.fi-folder  John A. 
    .column.small-8
      ul.inline-list
        li: span.fi-pricetag-multiple
        li: a(href="") in
        li: a(href="") culpa
        li: a(href="") qui
        li: a(href="") officia
    .column.small-12: hr